.App {
  text-align: center;
}
.ant-menu ul,
.ant-menu ol {
  background-color: #eeeef6 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-background {
  background: #fff;
}
.ant-table-thead {
  font-size: 13px;
}
.ant-table-tbody {
  font-size: 13px;
}
hr {
  border: none !important;
  height: 0.07px !important;
  /* Set the hr color */
  color: rgb(238, 235, 235) !important; /* old IE */
  background-color: rgb(238, 235, 235) !important; /* Modern Browsers */
}
.crossIcon {
  font-size: 11px !important;
  font-weight: 400 !important;
  color: white !important;
}
label {
  font-weight: 600;
}
